DATABASE_TYPE=postgres
DATABASE_URL=postgresql://postgres:ecommerce-backend@db.onbxibreoggjtkbmondi.supabase.co:5432/postgres
MEDUSA_ADMIN_ONBOARDING_TYPE=default
STORE_CORS=http://localhost:8000,http://localhost:7001